/* ------- Shared CSS ------- */

:root {
  /* Grid tile */
  /* Color */
  --grid-tile-background: rgba(160, 190, 199, 0.3);
  --grid-tile-background-light: rgba(160, 190, 199, 0.1);
  --grid-tile-color-match: rgba(228, 101, 101, 0.8);

  /* Other styling */
  --grid-tile-gaps: 10px;
  --grid-tile-border-radius: 12px;
  --grid-tile-dimensions: 55px;

  /* Other styling small desktop */
  --small-grid-tile-gaps: 5px;
  --small-grid-tile-dimensions: 45px;

  /* Other styling phone */
  --phone-grid-tile-gaps: 5px;
  --phone-grid-tile-dimensions: 35px;
}

/* Handle color mode */

/* Light color scheme */
:root,
:root[data-force-color-mode="light"] {
  color-scheme: light dark;
  --text-color: #000;
  --background-color: #fff;
  --pop-up-background: rgba(0, 0, 0, 0.15);
  --grid-tile-color: rgb(61, 61, 61);
  --grid-tile-color-exists: rgb(241, 241, 135);
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(224, 224, 224);
    --background-color: #333;
    --pop-up-background: rgba(255, 255, 255, 0.15);
    --grid-tile-color: rgb(224, 224, 224);
    --grid-tile-color-exists: rgb(77, 181, 233);
  }
}
:root[data-force-color-mode="dark"] {
  --text-color: rgb(224, 224, 224);
  --background-color: #333;
  --pop-up-background: rgba(255, 255, 255, 0.15);
  --grid-tile-color: rgb(224, 224, 224);
  --grid-tile-color-exists: rgb(77, 181, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Secular One", sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

/* --------- Screen grid ----------- */

.screen-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
}

/* --------- Header ----------- */

header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  font-size: 1rem;
}

header .game-logo {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

header .game-logo h1 {
  padding: 10px;
  border-radius: var(--grid-tile-border-radius);
  background-color: var(--grid-tile-background);
}

header .game-logo h1:nth-child(1) {
  background-color: var(--grid-tile-color-match);
}

header .game-logo h1:nth-child(2) {
  background-color: var(--grid-tile-color-exists);
}

header .game-logo h1:nth-child(4),
header .game-logo h1:nth-child(5) {
  background-color: var(--background-color);
  padding: 10px 0px;
}

header .subtitle {
  opacity: 0.5;
}

/* --------- Game grid ----------- */

.game-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}

.grid-row {
  display: flex;
}

.grid-row > .grid-tile + .grid-tile {
  margin-left: var(--grid-tile-gaps);
}

.grid-tile {
  height: var(--grid-tile-dimensions);
  width: var(--grid-tile-dimensions);
  background-color: var(--grid-tile-background);
  color: var(--grid-tile-color);
  border-radius: var(--grid-tile-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.show-grid-tile-match {
  background-color: var(--grid-tile-color-match) !important;
}

.show-grid-tile-exists {
  background-color: var(--grid-tile-color-exists) !important;
}

.grid-tile-checked {
  animation-name: reveal-tile;
  animation-duration: 0.5s;
}

@keyframes reveal-tile {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* --------- Keyboard grid ----------- */

.keyboard-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.keyboard-grid > .keyboard-row + .keyboard-row {
  margin-top: 4px;
}

.keyboard-row > .keyboard-btn + .keyboard-btn {
  margin-left: 4px;
}

.keyboard-grid .keyboard-btn {
  border: none;
  border-radius: var(--grid-tile-border-radius);
  background-color: var(--grid-tile-background);
  color: var(--grid-tile-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.keyboard-grid .keyboard-btn-large {
  width: 85px;
}

.keyboard-grid .keyboard-btn:hover {
  filter: brightness(0.8);
}

.keyboard-grid .keyboard-row {
  display: flex;
}

.keyboard-grid .keyboard-btn {
  display: flex;
  align-items: center;
}

.grid-letter-inexistant {
  background-color: var(--grid-tile-background-light) !important;
}

/* --------- Footer ----------- */

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

footer .footer-nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

footer .footer-nav-list-item {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  border-radius: var(--grid-tile-border-radius);
  cursor: pointer;
}

footer .footer-nav-list-item:hover {
  filter: brightness(0.9);
}

footer .footer-nav-list-item:nth-child(1) {
  background-color: var(--grid-tile-color-match);
}

footer .footer-nav-list-item:nth-child(2) {
  background-color: var(--grid-tile-color-exists);
}

footer .footer-nav-list-item:nth-child(3) {
  background-color: var(--grid-tile-background);
}

/* --------- Pop-up ----------- */

.pop-up-background {
  z-index: 100;
  background-color: var(--pop-up-background);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.pop-up-content {
  z-index: 101;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--background-color);
  border-radius: var(--grid-tile-border-radius);
  width: fit-content;
  min-width: 40vw;
  max-width: 50vw;
}

.pop-up-content .pop-up-header {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.pop-up-content .pop-up-header .material-symbols-outlined {
  background-color: var(--grid-tile-color-match);
  padding: 10px;
  border-radius: var(--grid-tile-border-radius);
}

.pop-up-content .stats-content .pop-up-header .material-symbols-outlined {
  background-color: var(--grid-tile-color-exists);
  padding: 10px;
  border-radius: var(--grid-tile-border-radius);
}

.pop-up-content .params-content .pop-up-header .material-symbols-outlined {
  background-color: var(--grid-tile-background);
  padding: 10px;
  border-radius: var(--grid-tile-border-radius);
}

.pop-up-content article > p + p {
  margin-top: 10px;
}

/* Rules popup */

.pop-up-content .rules-list {
  list-style: none;
  margin-top: 15px;
}

.pop-up-content .rules-list > .rules-list-item + .rules-list-item {
  margin-top: 10px;
}

.pop-up-content .rules-list-item {
  display: flex;
  align-items: center;
}

.pop-up-content .rules-list-item::before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 6px;
  margin-right: 8px;
  flex-shrink: 0;
}

.pop-up-content .rules-list-item:nth-child(1):before {
  background-color: var(--grid-tile-color-match);
}

.pop-up-content .rules-list-item:nth-child(2):before {
  background-color: var(--grid-tile-color-exists);
}

.pop-up-content .rules-list-item:nth-child(3):before {
  background-color: var(--grid-tile-background);
}

/* Parameters popup */

.pop-up-content .params-content h3 {
  margin-bottom: 10px;
}

.pop-up-content .params-content .color-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 12px;
  border-radius: var(--grid-tile-border-radius);
  width: fit-content;
}

.pop-up-content .params-content .color-mode:hover {
  background-color: var(--grid-tile-background);
}

/* -------- Responsive ----------- */

@media (max-width: 1440px) {
  /* Game grid */
  .game-grid {
    padding-top: 20px;
  }

  .grid-tile {
    height: var(--small-grid-tile-dimensions);
    width: var(--small-grid-tile-dimensions);
    font-size: 20px;
  }

  /* Keyboard grid */

  .keyboard-grid {
    margin-bottom: 0;
  }

  .keyboard-grid .keyboard-btn {
    font-size: 0.9rem;
    padding: 8px;
    width: 35px;
  }

  .keyboard-grid .keyboard-btn-large {
    width: 70px;
  }
}

@media (max-width: 600px) {
  /* Header */
  header {
    font-size: 0.8rem;
  }

  /* Game grid */
  .grid-tile {
    height: var(--phone-grid-tile-dimensions);
    width: var(--phone-grid-tile-dimensions);
    font-size: 18px;
  }

  .grid-row > .grid-tile + .grid-tile {
    margin-left: var(--phone-grid-tile-gaps);
  }

  /* Keyboard grid */

  .keyboard-grid .keyboard-btn {
    font-size: 0.8rem;
    padding: 8px;
    width: 30px;
  }

  .keyboard-grid .keyboard-btn-large {
    width: 60px;
  }

  /* Footer */
  footer {
    font-size: 0.7rem;
  }

  footer .footer-nav-list-item {
    width: auto;
    padding: 10px 20px;
  }

  footer .footer-nav-list-item .list-item-text {
    display: none;
  }

  /* Popup */

  .pop-up-content {
    min-width: unset;
    max-width: unset;
    width: 90%;
  }
}
